<?xml version="1.0"?>
<phpunit
        bootstrap="./vendor/autoload.php"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        verbose="true"
        stopOnFailure="false"
        processIsolation="false"
        backupGlobals="false"
        syntaxCheck="true"
        >

    <testsuite name="AbstractNodeTests">
        <directory>./tests/Node/AbstractNodeTests</directory>
        <exclude>./tests/misc</exclude>
    </testsuite>

    <testsuite name="ComparisonOperatorNodeTests">
        <directory>./tests/Node/ComparisonOperatorNodeTests</directory>
        <exclude>./tests/misc</exclude>
    </testsuite>

    <testsuite name="DiscreteNodeTests">
        <directory>./tests/Node/DiscreteNodeTests</directory>
        <exclude>./tests/misc</exclude>
    </testsuite>

    <testsuite name="LogicalJoinNodeTests">
        <directory>./tests/Node/LogicalJoinNodeTests</directory>
        <exclude>./tests/misc</exclude>
    </testsuite>

    <testsuite name="ValueNodeTests">
        <directory>./tests/Node/ValueNodeTests</directory>
        <exclude>./tests/misc</exclude>
    </testsuite>

    <testsuite name="Hump">
        <directory>./tests/Hump</directory>
        <exclude>./tests/misc</exclude>
    </testsuite>

    <testsuite name="Camel">
        <directory>./tests/Camel</directory>
        <exclude>./tests/misc</exclude>
    </testsuite>

    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>
</phpunit>